In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\BHARAMAN\\Downloads\\covid_toy - covid_toy.csv")

In [3]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

# Encoding ====> convert our categorical data into Numerical data .

In [4]:
df=  df.dropna()

In [5]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
lb = LabelEncoder()

In [8]:
df['gender'] = lb.fit_transform(df['gender'])
df['cough'] = lb.fit_transform(df['cough'])
df['city'] = lb.fit_transform(df['city'])
df['has_covid'] = lb.fit_transform(df['has_covid'])

In [9]:
df.head(3)

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     2          0
1   27       1  100.0      0     1          1
2   42       1  101.0      0     1          0

# (2). OrdinalEncoder ====> Multiple columns ==> encode .

In [10]:
df = pd.read_csv("C:\\Users\\BHARAMAN\\Downloads\\covid_toy - covid_toy.csv")

In [11]:
df = df.drop(columns = ['age','fever'])
df.head(3)

  gender cough     city has_covid
0   Male  Mild  Kolkata        No
1   Male  Mild    Delhi       Yes
2   Male  Mild    Delhi        No

In [12]:
from sklearn.preprocessing import OrdinalEncoder

In [13]:
oe = OrdinalEncoder(categories = [['Male' , 'Female'] , 
                                 ['Mild','Strong'],
                                 ['Kolkata','Bangalore','Delhi','Mumbai'],
                                 ['No','Yes']])

In [14]:
df_oe = oe.fit_transform(df)

In [15]:
df_new = pd.DataFrame(df_oe , columns = df.columns)

In [16]:
# df_new.head(3)

In [17]:
df_new = df_new.astype(int)

In [18]:
df_new.head(4)

   gender  cough  city  has_covid
0       0      0     0          0
1       0      0     2          1
2       0      0     2          0
3       1      0     0          0

In [19]:
# One-Hot Encoder ====> convert categorical data into new columns .
# gender[male , female] ===> new_columns (male , female) 
# Data ===> overfitting issue ===> mitigate ==> drop_first = True 
# sparse = False ===> we want operation on only non-zero values  .

In [20]:
df = pd.read_csv("C:\\Users\\BHARAMAN\\Downloads\\covid_toy - covid_toy.csv")

In [21]:
df = df.dropna()

In [22]:
from sklearn.preprocessing import OneHotEncoder

In [23]:
ohe = OneHotEncoder(drop = 'first' , sparse = False , dtype = np.int32)

In [24]:
# df_new = ohe.fit_transform(df[['gender' , 'cough' , 'city' , 'has_covid']])

In [25]:
df_new.shape

(100, 4)

In [26]:
p = df[['gender' , 'cough' , 'city' , 'has_covid']]
p.shape

(90, 4)

# get_dummies ===> convert categorical sub-categories into new columns .

In [27]:
df = pd.read_csv("C:\\Users\\BHARAMAN\\Downloads\\covid_toy - covid_toy.csv")

In [28]:
pd.get_dummies(df , columns = ['gender' , 'cough' , 'city' , 'has_covid'] , drop_first = True)

,age,fever,gender_Male,cough_Strong,city_Delhi,city_Kolkata,city_Mumbai,has_covid_Yes
0,60,103.0,True,False,False,True,False,False
1,27,100.0,True,False,True,False,False,True
2,42,101.0,True,False,True,False,False,False
3,31,98.0,False,False,False,True,False,False
4,65,101.0,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...
95,12,104.0,False,False,False,False,False,False
96,51,101.0,False,True,False,True,False,True
97,20,101.0,False,False,False,False,False,False
98,5,98.0,False,True,False,False,True,False
99,10,98.0,False,True,False,True,False,True